	.cornerRotate {
		background-color: #999999;
		text-align: center;
	}

	.cornerRotate>input {
		width: 70px;
		font-size: 32px;
	}

	.verticalRotate, .horizontalRotate {
		background-color: #dddddd;
		text-align: center;
	}

	.verticalRotate>input, .horizontalRotate>input {
		width: 50px;
		font-size: 14px;
	}

	.cubeItem {
	}

	td {
		height: 100px;
		width: 100px;	
	}

	td.cubeItem {
		border: 2px solid black;
		border-color: black;
		border-radius: 5px;
	}

	.center {
		margin: auto;
	}

	.shuffleButton {
		width: 150px;
		height: 40px;
		font-size: 40px;
		margin-left: 44%;
		margin-bottom: 50px;
	}

	#output {
		text-align: center;
		vertical-align: center;
	}

	.text-placeholder {
		min-height: 30px;
	}